/* jumbtron adjustment for mobile */
@media only screen and (max-width: 767px) {
  .d-n {
    display: none;
  }
  .d-n-b {
    margin-top: -50px;
  }
  .logoo {
    font-size: 25px;
  }
  .username {
    display: none;
  }
  .dropdown-menu-right {
    right: 1px;
  }
}

/* media query for desktop view */
@media only screen and (min-width: 768px) {
  .username {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin: 0 7px;
  }
}

.dropdown-toggle::after {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  color: #000;
  content: "";
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: 0.255em;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  transform: translateY(2px);
}

.text-blackk {
  color: #000;

  font-weight: 500;
}
